<app-section-layout [id]="NavigationItemType.Certifications">
  <div class="w-full h-full flex flex-col items-center gap-10 pt-12" content>
    <h2 class="text-2xl md:text-3xl font-bold underline underline-offset-4 decoration-2">
      # Certifications
    </h2>
    <div
      class="w-full max-w-xl md:max-w-6xl flex flex-col gap-4"
      pAnimateOnScroll
      [once]="true"
      enterClass="animate-enter fade-in-10 slide-in-from-r-6 animate-duration-1000"
      leaveClass="animate-leave fade-out"
    >
      <div class="flex flex-col md:flex-row justify-center gap-2">
        @for (item of CvCertifications.certifications; track item.id) {
          <div class="w-full flex flex-col items-center gap-6 p-8">
            <p-image
              [src]="item.imageUrl"
              [alt]="item.name"
              imageClass="h-42 w-42 max-h-42 max-w-42"
            />
            <h3 class="text-xl font-bold">
              {{ item.name }}
            </h3>
            <p-button label="Verify" severity="info" (onClick)="onVerify(item)" />
          </div>
          @if (!$last) {
            <p-divider layout="vertical" class="!hidden md:!flex"></p-divider>
            <p-divider layout="horizontal" class="!flex md:!hidden" align="center"></p-divider>
          }
        }
      </div>
    </div>
  </div>
</app-section-layout>
