<app-section-layout [id]="NavigationItemType.Work">
  <div class="w-full h-full flex flex-col items-center gap-10 pt-12" content>
    <h2
      class="text-2xl md:text-3xl font-bold underline underline-offset-4 decoration-2"
    >
      # Work History
    </h2>
    <div class="w-full max-w-xl md:max-w-6xl flex flex-col gap-4">
      @for (company of CvWork.history; track company.id) {
        <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
          <div class="md:col-span-2 flex flex-row justify-center">
            <p-image
              [src]="company.logoUrl"
              width="128"
              [alt]="company.title"
              pAnimateOnScroll
              [once]="true"
              enterClass="animate-enter fade-in-10 slide-in-from-r-6 animate-duration-700"
              leaveClass="animate-leave fade-out"
            />
          </div>
          <div class="flex flex-col gap-6 md:col-span-10">
            <h3
              class="text-2xl font-bold"
              pAnimateOnScroll
              [once]="true"
              enterClass="animate-enter fade-in-10 slide-in-from-r-6 animate-duration-700"
              leaveClass="animate-leave fade-out"
            >
              {{ company.title }}
            </h3>
            <div class="flex flex-col gap-8">
              @for (item of company.timeline; track item.id) {
                <div
                  class="flex flex-col gap-2"
                  pAnimateOnScroll
                  [once]="true"
                  enterClass="animate-enter fade-in-10 slide-in-from-r-6 animate-duration-700"
                  leaveClass="animate-leave fade-out"
                >
                  <h4 class="text-xl font-bold">{{ item.title }}</h4>
                  <h5 class="text-base">
                    <p-tag
                      [value]="item.period"
                      severity="info"
                      [rounded]="true"
                    />
                  </h5>
                  <div>{{ item.description }}</div>
                  @if (item.achievements.length > 0) {
                    <div class="flex flex-col gap-2">
                      <h5
                        class="text-base font-bold p-2 bg-surface-200 dark:bg-surface-800 rounded-lg flex flex-row items-center"
                      >
                        Achievements
                      </h5>
                      <ul class="ml-2">
                        @for (
                          achievement of item.achievements;
                          track achievement
                        ) {
                          <li class="flex flex-row gap-2 items-center">
                            <span class="material-icons"
                              >fiber_manual_record</span
                            >{{ achievement }}
                          </li>
                        }
                      </ul>
                    </div>
                  }
                </div>
              }
            </div>
          </div>
        </div>
        @if (!$last) {
          <p-divider />
        }
      }
    </div>
  </div>
</app-section-layout>
