<app-section-layout [id]="NavigationItemType.Education">
  <div class="w-full h-full flex flex-col items-center gap-10 pt-12" content>
    <h2 class="text-2xl md:text-3xl font-bold underline underline-offset-4 decoration-2">
      # Education
    </h2>
    <div class="w-full max-w-xl md:max-w-6xl flex flex-col gap-4">
      <div class="flex flex-col md:flex-row justify-center gap-2">
        @for (item of CvEducation.history; track item.id) {
          <div
            class="w-full flex flex-col gap-2 p-8"
            pAnimateOnScroll
            [once]="true"
            enterClass="animate-enter fade-in-10 slide-in-from-r-6 animate-duration-700"
            leaveClass="animate-leave fade-out"
          >
            <h3 class="text-xl font-bold">
              {{ item.title }}
            </h3>
            <h5 class="text-base">
              <p-tag [value]="item.period" severity="info" [rounded]="true" />
            </h5>
            <div>
              {{ item.description }}
            </div>
          </div>
          @if (!$last) {
            <p-divider layout="vertical" class="!hidden md:!flex"></p-divider>
            <p-divider layout="horizontal" class="!flex md:!hidden" align="center"></p-divider>
          }
        }
      </div>
    </div>
  </div>
</app-section-layout>
